<div class="modal">
  <div class="modal-content">
      {{#each labels as |l|}}
        <div>{{input type="checkbox" name=l.label.name checked = l.isSelected }} {{l.label.name}}</div>
      {{/each}}
    <button onclick={{action "closeList"}}>Cancel</button>
    <button onclick={{action "saveLabels"}}>Save</button>
  </div>
</div>
