<button onclick = {{action "showNewNote"}}>New</button>
{{#if showPopup}}
  <div class="modal">
    <div class="modal-content">
      {{note-card note=newNote onDelete=(action "hideNewNote") onPersist=(action "hideNewNote")}}
    </div>
  </div>
{{/if}}
